{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% import _self as helper %}

{% block toolbar %}
    {% set icon %}
        {{ include('@EMSCommon/DataCollector/logo.svg') }}
        <span class="sf-toolbar-value">{{ collector.total }}</span>
        <span class="sf-toolbar-label">Queries</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Number of ElasticSearch Queries</b>
            <span class="sf-toolbar-status">{{ collector.total }}</span>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true }) }}
{% endblock %}

{% block menu %}
    <span class="label label-status">
        <span class="icon">{{ include('@EMSCommon/DataCollector/logo.svg') }}</span>
        <strong>ElasticMS</strong>
        <span class="count">
        <span>{{ collector.total }}</span>
        </span>
    </span>
{% endblock %}

{% block panel %}
    <h2>ElasticMS Metrics</h2>
    <div class="metrics">
        <div class="metric">
            <span class="value">{{ collector.total }}</span>
            <span class="label">Number of ElasticSearch queries</span>
        </div>
    </div>
    
    <h2>ElasticMS Logging</h2>
    <div class="sf-tabs">
        <div class="tab">
            <h3 class="tab-title">ElasticSearch <span class="badge">{{ collector.total }}</span></h3>

            <div class="tab-content">
                <p class="help">
                    Trace all ElasticSearch queries
                </p>
                {% if collector.total == 0 %}
                    <div class="empty">
                        <p>There are no messages of this category.</p>
                    </div>
                {% else %}
                    {{ helper.render_table(collector.data) }}
                {% endif %}
            </div>
        </div>
{% endblock %}

{% macro render_table(messages) %}
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Level</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for log in messages %}
                <tr>
                     <td class="font-normal text-small" nowrap>
                        <time class="text-muted newline" title="{{ log.datetime|date('r') }}" datetime="{{ log.datetime|date('c') }}">{{ log.datetime|date('H:i:s') }}</time>
                     </td>
                     <td>{{ log.level }}</td>
                     <td>
                        <div>{{ log.message }}</div>
                        {% if log.duration is defined %}<div>{{ 'Duration: ' ~ log.duration }}</div>{% endif %}
                        {% if log.response is defined %}
                            <button class="btn-link newline text-small sf-toggle" data-toggle-selector="#ems-response-{{ loop.index }}" data-toggle-alt-content="Hide response">Show response</button>
                            <div id="ems-response-{{ loop.index }}" class="hidden">
                                {{ profiler_dump(log.response , maxDepth=1) }}
                            </div>
                        {% endif %}
                     </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}